<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ spec.info.title }}</title>
    <link rel="stylesheet" type="text/css" href="./swagger-ui.css" />
    <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./favicon-16x16.png" sizes="16x16" />
    <style>
      html {
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      body {
        margin: 0;
        background: #fafafa;
      }
    </style>
  </head>
  <body>
    <div id="swagger-ui"></div>
    <script src="./swagger-ui-bundle.js"></script>
    <script>
      // https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/
      SwaggerUIBundle({
        url: `${JSON.stringify(specURL)}`,
        dom_id: '#swagger-ui',
        deepLinking: true,
        displayOperationId: true,
        presets: [`${presets.join(', ')}`],
        plugins: [`${plugins.join(', ')}`],
        layout: 'BaseLayout',
      });
    </script>
  </body>
</html>
